.profile {
    &-header {
        justify-content: center;
        background-color: white !important;
        width: 100%;

        &__logo {
            height: 64px;

            //p {
            //    letter-spacing: 3px;
            //    color: $main-color;
            //    font-weight: 400;
            //    font-size: 38px;
            //}

            svg {
                width: 235px;
                height: 100%;

                path {
                    fill: $main-color;
                }
            }
        }

        &__custom {
            display: grid;
            margin: 0 auto;
            max-width: 1600px;
            align-items: center;
            grid-template-columns: auto 40px;
        }

        &__exit {
            cursor: pointer;
            height: 20px;
            width: 25px;

            svg path {
                stroke: $main-color;
            }
        }
    }

    &-sidebar {
        border-right: 1px solid #e7e7e7;
        display: flex;
        justify-content: center;
        width: 300px;

        &__user {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 12px;
            box-shadow: rgba(0, 0, 0, 0.06) 0 2px 8px;
            border: 1px solid #f0f0f0;
            border-radius: 8px;
            padding: 18px 10px;
            max-width: 200px;

            &--info {
                p {
                    font-size: 16px;
                    font-weight: 500;
                    margin: 0;
                }

                button {
                    cursor: pointer;
                    font-size: 14px;
                    color: $main-color;
                    margin-top: 3px;
                    //text-decoration: underline;
                }
            }
        }
    }

    &-main {
        border-radius: 30px;
        overflow: hidden;
        max-width: 1600px;
        width: 100%;
        margin: 64px auto 0 auto;

        h1 {
            font-size: 28px;
        }
    }

    &-tests {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;

        &__buttons {
            margin-bottom: 24px;
            display: flex;
            justify-content: space-between;

            &--create {
                h1 {
                    margin: 0 0 0 5px;
                }

                display: flex;
                gap: 6px;
            }

            &--filters {
                width: 18px;
                cursor: pointer;

                svg path {
                    fill: #c3c3c3;
                }
            }
        }

        &__item {
            border: 1px solid #f0f0f0;
            box-shadow: rgba(0, 0, 0, 0.06) 0 2px 8px;
            border-radius: 8px;
            max-width: 298px;
            width: 100%;

            &--type {
                font-weight: 600;
                font-size: 16px;
            }

            &--more {
                cursor: pointer;
                font-size: 14px;
                color: $main-color;

                //box-shadow: rgba(0, 0, 0, 0.06) 0 2px 8px;
            }

            &--header {
                height: 56px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 24px;
            }

            &--content {
                padding: 24px;
                border-top: 1px solid #f0f0f0;
                border-bottom: 1px solid #f0f0f0;
                display: grid;
                grid-template-areas: 'test-img test-title' 'test-img test-desc';

                &-users {
                    border-radius: 30px;
                    background-color: $green;
                    color: white;
                    font-weight: 600;
                    padding: 2px 4px;
                    font-size: 14px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: -5px;
                    left: -5px;
                    border: 1px solid white;
                }

                &-img {
                    position: relative;
                    grid-area: test-img;
                    margin-right: 10px;

                    img {
                        width: 45px;
                        height: 45px;
                    }
                }

                &-title {
                    font-size: 16px;
                    line-height: 16px;
                    font-weight: 600;
                    grid-area: test-title;
                    margin-bottom: 8px;
                }

                &-desc {
                    font-size: 14px;
                    color: rgba(0,0,0,0.45);
                    grid-area: test-desc;
                }
            }

            &--settings {
                padding: 15px 0;
                display: grid;
                grid-template-columns: auto auto auto;

                &-item {
                    display: flex;
                    justify-content: center;

                    svg {
                        width: 16px;
                    }

                    &:nth-child(2) {
                        border-left: 1px solid #f0f0f0;
                        border-right: 1px solid #f0f0f0;
                    }
                }

                &-item:nth-child(1) {
                    svg {
                        path {
                            fill: rgb(255, 107, 107);
                        }
                    }
                }

                &-item:nth-child(2) {
                    svg {
                        path {
                            fill: rgb(78, 205, 196);
                        }
                    }
                }

                &-item:nth-child(3) {
                    svg {
                        path {
                            stroke: rgb(69, 183, 209);
                        }
                    }
                }
            }
        }
    }
}
