.profile {
    &-header {
        justify-content: center;
        background-color: white !important;
        width: 100%;

        &__logo {
            height: 64px;

            svg {
                width: 205px;
                height: 100%;
            }
        }

        &__custom {
            display: grid;
            margin: 0 auto;
            max-width: 1600px;
            align-items: center;
            grid-template-columns: auto 40px;
        }

        &__exit {
            cursor: pointer;
            height: 20px;
            width: 25px;

            svg path {
                stroke: $main-color;
            }
        }
    }

    &-sidebar {
        border-right: 1px solid #e7e7e7;
        display: flex;
        justify-content: center;
        width: 300px;

        &__user {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 12px;
            box-shadow: 0px 1px 19px rgb(0 0 0 / 15%);
            border-radius: 9px;
            padding: 18px 10px;
            max-width: 200px;

            &--info {
                p {
                    font-size: 18px;
                    font-weight: 500;
                    margin: 0;
                }

                button {
                    cursor: pointer;
                    font-size: 14px;
                    color: $main-color;
                    text-decoration: underline;
                }
            }
        }
    }

    &-main {
        border-radius: 30px;
        overflow: hidden;
        max-width: 1600px;
        width: 100%;
        margin: 64px auto 0 auto;

        //.ant-layout-content {
        //    height: calc(100vh - 255px) !important;
        //}
    }
}
